<div class="container">
  <h3>加入會員，編輯你的看板與文章！</h3>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :account, "帳號" %>
    <%= f.text_field :account, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :email, "信箱" %>
    <%= f.text_field :email, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :password, "密碼" %>
    <%= f.password_field :password, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "請再次輸入密碼" %>
    <%= f.password_field :password_confirmation, class: 'form-control'  %>
  </div>
  <div>
    <%= f.submit "立即註冊", class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>