<div class="container">
  <h3>登入會員，收藏你愛的看板與文章！</h3>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <%= form_for @user, url: {action: :login}  do |f| %>
  <div class="form-group">
    <%= f.label :account, "帳號" %>
    <%= f.text_field :account, class: 'form-control', placeholder: "請輸入您的帳號"  %>
  </div>

  <div class="form-group">
    <%= f.label :password, "密碼" %>
    <%= f.password_field :password, class: 'form-control', placeholder: "請輸入您的密碼"   %>
  </div>

  <div>
    <%= f.submit "立即登入", class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>