<div class="main-title justify-content-center">
  <h1><%= @board.title%></h1>
    <div>
      [ 版主：<%= display_bm(@board) %> ]
    </div>
</div>

<div class="row main-add-favorite justify-content-center">
  <p>
    <%= link_to "加到我的最愛", favorite_board_path(@board), method: 'POST' %>
  </p>
</div>

<table class="table table-sm my-1">
  <thead>
    <th scope="col" class="">文章名稱</th>
    <th scope="col" class=""></th>
    <th scope="col" class=""></th>
  </thead>

  <tbody>
    <% @board.posts.each do |post| %>  
    <tr>
      <td class=""><%= link_to post.title, post_path(post) %></td>
      <%# byebug %>
      <% if authorized_user_for_post?(post.user.id) %>
        <td><%= link_to "編輯", edit_post_path(post) %></td>
        <td><%= link_to "刪除", post_path(post), method: 'delete', data: { confirm: '確認刪除?' } %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
    <% end %> 
  </tbody>
</table>

<div class="main-link justify-content-center">
  <%= link_to '新增文章', new_board_post_path(@board) %>
</div>